<h2>Welcome to Pizza Shop!</h2>

<div class="row">

	<% @products.each do |p| %>
	<div class="col-md-3">
		<div>
			<%= p.title %>
		</div>

		<div>
			<img src="<%= p.path_to_image %>" />
		</div>

		<div>
			<%= p.description %>
		</div>
	</div>
	<% end %>

</div>
<br />
<br />

<button class="btn btn-primary" onclick="something()">Click me!</button>
