<h2>Welcome to Pizza Shop!</h2>

<div class="row">

	<% @products.each do |p| %>
	<div class="col-md-3">
		<%= p.title %>
	</div>
	<% end %>

</div>

<button class="btn btn-primary" onclick="something()">Click me!</button>
